<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" opened="true" disableClose="true" style="background-color: black;">

    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>settings_input_antenna</mat-icon>
    </button>
    <br>
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>track_changes</mat-icon>
    </button>
    <br>
<!--    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">-->
<!--      <mat-icon>sensors</mat-icon>-->
<!--    </button>-->
<!--    <br>-->

<!--    <br>-->
<!--    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">-->
<!--      <mat-icon>sensors_off</mat-icon>-->
<!--    </button>-->
<!--    <br>-->
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>leak_add</mat-icon>
    </button>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-content></app-content>
  </mat-sidenav-content>
</mat-sidenav-container>





